*.ipynb filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/BatchAndStream/lab5/deployment/jupyter-all-spark-notebook-gcp/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
/BatchAndStream/lab5/deployment/jupyterlab/Dockerfile filter=lfs diff=lfs merge=lfs -text
/BatchAndStream/lab5/deployment/spark-bitnami-python3.9/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
/ContainerizationAssigment/1.DataIngestion/Dockerfile filter=lfs diff=lfs merge=lfs -text
/ContainerizationAssigment/2.FeatureExtractions/Dockerfile filter=lfs diff=lfs merge=lfs -text
/ContainerizationAssigment/3.Training/Dockerfile filter=lfs diff=lfs merge=lfs -text
/ContainerizationAssigment/4.Predict/Dockerfile filter=lfs diff=lfs merge=lfs -text
/ContainerizationAssigment/5.Visualization/Dockerfile filter=lfs diff=lfs merge=lfs -text
/ContainerizationAssigment/5.Visualization/EMPTY filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
/Lab3_Exercises/Dockerfile filter=lfs diff=lfs merge=lfs -text
/Questions filter=lfs diff=lfs merge=lfs -text
